body {
 -  padding: 50px;
 +  padding-top: 70px;
    background-color: #FFFFFF;
 -  font-family: garamond;
 +  font-family: garamond;
  }
  .jumbotron {
    padding: 25px;
  }
 +.container {
 +  max-width: 1000px;
 +}
 .blue_btn {
   color: 3333;
 }
